<!-- .notifications -->
<div class="notifications"></div><!-- /.notifications -->

<!-- #message -->
<div id="message" class="modal animated shake">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1><span class="glyphicon"></span></h1>
        <h4 class="message modal-title"></h4>
        <hr>
        <button type="button" class="btn btn-block btn-danger" data-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div><!-- /#message -->

<!-- .container -->
<div class="container">
  <p class="text-center text-muted">
    <% var d = new Date() %>
    <%- d.getFullYear() %>. Facultad de Filosofía y Letras, UNAM.
  </p>
</div><!-- /.container -->
