<ul class="nav navbar-nav navbar-right hidden-xs">
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Iniciar sesión <b class="caret"></b></a>
    <div class="dropdown-menu" style="padding: 15px; width: 300px;">
      <form>
        <div class="form-group">
          <input type="email" id="email" name="email" placeholder="Correo electrónico" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" placeholder="Contraseña" class="form-control">
        </div>
        <button type="submit" class="btn btn-block btn-success">Iniciar sesión</button>
      </form>
    </div>
  </li>
</ul>
